<h2>InputTest</h2>

<div>
    <form id="test" action="@Url.Action("InputTest","Default")" method="post">
        <input 
               type="text"
               class="form-control"
               id="email-username"
               name="email"
               autofocus/>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>