
@{
    var user = Session["Signed"] as FlowersShop.Repository.Users;
}


<!-- Footer -->
<footer class="footer-20192" id="footer">
    <div class="site-section">
        <div class="container">
            <div class="cta d-block d-md-flex align-items-center px-5">
                <div class="ml-auto">
                    <a href="#" class="btn btn-dark rounded-0 py-3 px-5">Liên hệ quảng cáo ngay</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <a href="#" class="footer-logo" style="font-family: cursive;">FIREFLY</a>
                    <p class="copyright">
                        <small>&copy; 2024</small>
                    </p>
                </div>
                <div class="col-sm">
                    <h3>Khách hàng</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">Mua sắm</a></li>
                        <li><a href="#">Liên hệ dịch vụ</a></li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h3>Cửa hàng</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#aboutus">Về chúng tôi</a></li>
                        <li><a href="#footer">Góp ý</a></li>
                        <li><a href="#footer">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Thông tin liên hệ</h3>
                    <ul class="list-unstyled">
                        <li><i class="fa-regular fa-envelope"></i> Email: <a href="mailto:support@fireflystore.com">support@fireflystore.com</a></li>
                        <li><i class="fa-solid fa-phone"></i> Hotline: <a href="tel:+84901234567">+84 901 234 567</a></li>
                        <li><i class="fa-solid fa-map-marker-alt"></i> Địa chỉ: 140 Lê Trọng Tấn, P.Tây Thạnh, TP. Hồ Chí Minh</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Follow us</h3>
                    <ul class="list-unstyled social">
                        <li><a href="#"><span><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></span></a></li>
                        <li><a href="#"><span><i class="fa-brands fa-x-twitter" style="color: #ffffff;"></i></span></a></li>
                        <li><a href="#"><span><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></span></a></li>
                        <li><a href="#"><span><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></span></a></li>
                        <li><a href="#"><span><i class="fa-regular fa-envelope" style="color: #ffffff;"></i></span></a></li>
                    </ul>
                </div>
                <iframe id="danhgia" src="https://docs.google.com/forms/d/e/1FAIpQLSd4nGN3p9qEM80HMZmsBnqLkKwqqvuSWZEoY30meN9fc7dnPw/viewform?embedded=true" width="500" height="200px" frameborder="0" marginheight="0" marginwidth="0">Đang tải…</iframe>
            </div>
        </div>
    </div>
</footer>