<form method="get" action="@Url.Action("SearchProduct","Product")">
    <input type="text" name="ProductName" id="search-input" placeholder="Nhập tên sản phẩm cần tìm" />
    <input type="submit" class="btn btn-primary" value="Search"/>
</form>