<form method="post" action="/Product/SearchProduct">
    <input type="text" name="txt_Search" placeholder="Nhập tên sản phẩm cần tìm" />
    <input type="submit" class="btn btn-primary" value="Search" />
</form>