
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThanhCong</title>
</head>
<body>
    <div>
        Đăng ký thành công, chào mừng @ViewBag.username.UserName
    </div>
</body>
</html>
