@model  FlowersShop.Models.ConfirmOrderModel

<div>
    <div>
        <label for="customerName">Họ và tên</label>
        <input type="text" id="customerName" name="customerName" class="form-control" />
        <span id="customerNameError" class="error-message" style="display:none; color:red;">Họ và tên là bắt buộc.</span>
    </div>
    <div>
        <label for="customerPhone">Số điện thoại</label>
        <input id="customerPhone" name="customerPhone" />
        <span id="customerPhoneError" class="error-message" style="display:none; color:red;">Số điện thoại là bắt buộc.</span>
    </div>

    <div>
        <label for="customerEmail"> Email</label>
        <input id="customerEmail" name="customerEmail" />
    </div>
    <div>
        <label for="customerAddress">Địa chỉ</label>
        <input id="customerAddress" name="customerAddress" />
    </div>
</div>