
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Admin-LayoutPage.cshtml";
}

@*Index admin*@

<main>
    @if (Session["Admin"] != null)
    {
        <h2>Chào mừng: @Session["Admin"].ToString() 😘😁😊👍🙌 ☆*: .｡. o(≧▽≦)o .｡.:*☆</h2>
    }
    else
    {
        <h2>Bạn chưa đăng nhập 😊</h2>
    }
</main>