<div class="bs-toast toast toast-placement-ex m-2 fade bg-success top-0 end-0"
     role="alert"
     aria-live="assertive"
     aria-atomic="true"
     id="successAleart"
     >
    <div class="toast-header">
        <i class="bx bx-bell me-2"></i>
        <div class="me-auto fw-semibold">THÔNG BÁO</div>
        <small>Now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        Giao tác thành công!
    </div>
</div>
